In [1]:
import pandas as pd

data = {
    'Name':['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [23,35,45,36,26],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   23     New York
1      Bob   35  Los Angeles
2  Charlie   45      Chicago
3    David   36      Houston
4      Eva   26      Phoenix

In [3]:
value = df.iloc[2]
print(value)

Name    Charlie
Age          45
City    Chicago
Name: 2, dtype: object

In [6]:
value = df.iloc[:,1]
print(value)

0    23
1    35
2    45
3    36
4    26
Name: Age, dtype: int64

In [9]:
value = df.iloc[0:3]
print(value)

      Name  Age         City
0    Alice   23     New York
1      Bob   35  Los Angeles
2  Charlie   45      Chicago

In [22]:
value = df.iloc[[0,1,2],[0,2]]
print(value)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [35]:
value = df.loc[2]
print(value)

Name    Charlie
Age          45
City    Chicago
Name: 2, dtype: object

In [37]:
value = df.loc[:,'Age']
print(value)

0    23
1    35
2    45
3    36
4    26
Name: Age, dtype: int64

In [50]:
value = df.loc[[1,4],'City']
print(value)

1    Los Angeles
4        Phoenix
Name: City, dtype: object